{% extends 'base.html' %}

{% block content %}
    <style>
      .required::after {
        content: " *";
        color: red;
      }
    </style>

    <div class="container border my-5">
      <form method="post">
        <div class="mb-3 mt-3">
          <label for="location" class="form-label">Location:</label>
          <select class="form-select" id="location-dropdown" name="location">
            {% for place in places %}
              <option>{{ place }}</option>
            {% endfor %}
          </select>
          <br>
          <div class="row">
            <div class="col">
              <label for="new-location" class="form-label">or add new location:</label>
              <input type="text" class="form-control" id="new-location" name="new_location">
            </div>
            <!-- <div class="col">
              <label for="logo-upload" class="form-label">Location logo:</label>
              <input class="form-control" type="file" id="logo-upload" disabled />
            </div>
            -->
          </div>

        </div>
        <div class="mb-3 mt-3">
          <label>Category: </label>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio1" value="food" name="category" checked>
            <label class="form-check-label" for="radio1">Food</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio2" value="drink" name="category">
            <label class="form-check-label" for="radio2">Drink</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio3" class="groceries" value="groceries" name="category">
            <label class="form-check-label" for="radio3">Groceries</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio4" class="other" value="other" name="category">
            <label class="form-check-label" for="radio4">Other</label>
          </div>
        </div>
        <div class="mb-3 mt-3">
          <label for="days" class="form-label">Day(s) of the week:</label>
          <button type="button" onclick="checkAll('days')" class="btn btn-success btn-sm">Select All</button>
          <button type="button" onclick="uncheckAll('days')" class="btn btn-danger btn-sm">Deselect All</button>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Monday" name="days[]" value="Monday" checked>
            <label class="form-check-label" for="Monday">Monday</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Tuesday" name="days[]" value="Tuesday" checked>
            <label class="form-check-label" for="Tuesday">Tuesday</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Wednesday" name="days[]" value="Wednesday" checked>
            <label class="form-check-label" for="Wednesday">Wednesday</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Thursday" name="days[]" value="Thursday" checked>
            <label class="form-check-label" for="Thursday">Thursday</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Friday" name="days[]" value="Friday" checked>
            <label class="form-check-label" for="Friday">Friday</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Saturday" name="days[]" value="Saturday" checked>
            <label class="form-check-label" for="Saturday">Saturday</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="Sunday" name="days[]" value="Sunday" checked>
            <label class="form-check-label" for="Sunday">Sunday</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="starttime" class="form-label">Start time: </label>
            <input type="time" class="form-control" id="starttime" placeholder="4:00 PM" name="starttime" value="{{ request.form['starttime'] }}">
          </div>
          <div class="col">
            <label for="endtime" class="form-label">End time: </label>
            <input type="time" class="form-control" id="endtime" placeholder="8:00 PM" name="endtime" value="{{ request.form['endtime'] }}">
          </div>
        </div>
        <div class="mb-3 mt-3">
          <label for="title" class="form-label">Title: </label>
          <input type="text" class="form-control" id="title" placeholder="Weenie Wednesday" name="title" value="{{ request.form['title'] }}" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="description" class="form-label">Description: </label>
          <textarea class="form-control" rows="5" id="description" placeholder="$1.25 hot dogs" name="description" value="{{ request.form['description'] }}" required></textarea>
        </div>
        <div class="mb-3 mt-3">
          <label for="last-verified" class="form-label">Last verified: </label>
          <input type="date" class="form-control" id="last-verified" name="last-verified" value="{{ request.form['last-verified'] }}">
        </div>
        <button type="submit" class="btn btn-primary my-3">Submit</button>
      </form>
    </div>

    <script>
      // Get references to the relevant elements
      const locationDropdown = document.getElementById("location-dropdown");
      const newLocationInput = document.getElementById("new-location");
      const logoUploadInput = document.getElementById("logo-upload");
  
      // Add an event listener to the text input
      newLocationInput.addEventListener("input", function () {
        // Disable the dropdown and enable the file input when there is input in the text field
        if (newLocationInput.value.trim() !== "") {
          locationDropdown.disabled = true;
          logoUploadInput.disabled = false;
        } else {
          // Enable the dropdown and disable the file input when the text field is empty
          locationDropdown.disabled = false;
          logoUploadInput.disabled = true;
        }
      });
    </script>

{% endblock %}