{% extends 'base.html' %}
<!-- Filters -->
{% block navbar %}

      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasFilter">
        Filter
        <img src="./static/icons/filter-circle.svg" alt="Filter Icon">
      </button>

{% endblock %}

{% block content %}    
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasFilterLabel">Advanced Filter</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <h2>Advanced Filters</h2>
      <form method="post">
        <!-- Category filter -->
        <div class="row mb-3">
          <div class="card card-body">
            <button class="card-title btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse" aria-expanded="false">
              Category
            </button>
            <div class="collapse show" id="categoryCollapse">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="food" name="category" value="food" {% if 'food' in filtered_categories %}checked{% endif %}>
                <label class="form-check-label" for="food">Food</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="drink" name="category" value="drink" {% if 'drink' in filtered_categories %}checked{% endif %}>
                <label class="form-check-label" for="drink">Drinks</label>
              </div>
              <hr>
              <button type="button" onclick="checkAll('category')" class="btn btn-success btn-sm select-category card-link">Select All</button>
              <button type="button" onclick="uncheckAll('category')" class="btn btn-danger btn-sm deselect-category card-link">Deselect All</button>
            </div>
          </div>
        </div>
        <!-- Day filter-->
        <div class="row mb-3">
          <div class="card card-body">
            <button class="card-title btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dayCollapse" aria-expanded="false">
              Day
            </button>
            <div class="collapse show" id="dayCollapse">
                {% for day in days %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ day }}" name="days" value="{{ day }}" {% if day in filtered_days %}checked{% endif %}>
                  <label class="form-check-label" for="{{ day }}">{{ day }}</label>
                </div>
                {% endfor %}
                <hr>
                <button type="button" onclick="checkAll('days')" class="btn btn-success btn-sm select-day card-link">Select All</button>
                <button type="button" onclick="uncheckAll('days')" class="btn btn-danger btn-sm deselect-day card-link">Deselect All</button>
              </div>
            </div>
        </div>
        <!-- Place filter -->
        <div class="row mb-3">
          <div class="card card-body">
            <button class="card-title btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#placeCollapse" aria-expanded="false">
              Place
            </button>
            <div class="collapse show" id="placeCollapse">
                {% for place in places %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ place }}" name="places" value="{{ place }}" {% if place in filtered_places %}checked{% endif %}>
                  <label class="form-check-label" for="{{ place }}">{{ place }}</label>
                </div>
                {% endfor %}
                <hr>
                <button type="button" onclick="checkAll('places')" class="btn btn-success btn-sm select-restaurant card-link">Select All</button>
                <button type="button" onclick="uncheckAll('places')" class="btn btn-danger btn-sm deselect-restaurant card-link">Deselect All</button>
            </div>
          </div>
        </div>
        <!-- Submit button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-success btn-m">Filter</button>
          <button type="button" onclick="resetFilter()" class="btn btn-danger btn-m">Reset filter</button>
        </div>
      </form>      
    </div>
  </div>
</div>


<!-- Centered Container -->
<div class="container p-3">
  <!-- Content -->
  {% for day in days %}
  <div class="row mx-auto rounded">
    <h1><strong>{{ day }}</strong></h1>
    <hr>
  </div>
  <!-- Days -->
  <div class="row flex-wrap" id="{{ day }}">
    {% for deal in deals %}
    <!-- Deals -->
    {% if day in deal['dates'] %}
    <div class="col col-lg-3">
      <div class="card my-4 mx-auto text-center" data-bs-toggle="modal" data-bs-target="#modal-{{ deal['id'] }}" style="width: 200px">
        {% set place = deal['place'].lower().replace("'", "").replace(' ', '') %}
        <img class="card-img-top" src="/static/icons/{{ place }}.webp">
        <div class="card-body">
          <h4 class="card-title">{{ deal['place'] }}</h4>
          <p class="card-text">{{ deal['title'] }}</p>
        </div>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-{{ deal['id'] }}">
          Details
        </button>
      </div>
    </div>
    <!-- Deal modal -->
    <div class="modal" id="modal-{{ deal['id'] }}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title text-center">{{ deal['place'] }} - {{ deal['title'] }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            {{ deal['notes'] }}
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>


{% endblock %}
